@import "../_include-media.scss";
@import "../_colors.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,300,300italic");

$breakpoints: (phone: 320px, tablet: 768px, desktop: 1280px, short: 550px);

.appear {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

html {
  height: 100%;
  body {
    //height: 100%;
    background-color: $background-color;
    color: $text-color-white;
    font-family: 'Open Sans', serif;
    font-weight: normal;
    font-size: 16px;

    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    .container {
      color: #989898;
      font-weight: 100;
      text-align: center;
      .logo {
        background: url("../../images/blackdata-logo.png") bottom center no-repeat;
        background-size: contain;
        height: 100px;
      }
      .sub-header {
        text-align: center;
        font-size: 1.5vw;
        //width: 50vw;
        margin: 40px auto 0 auto;
        h1 {
          color: #E7E7E7;
          background-color: transparent;
          font-weight: bold;
          padding: 10px 0;
          font-size: 54px;
        }
        h2 {
          color: #E7E7E7;
          background-color: transparent;
          font-weight: lighter;
          font-style: italic;
          font-size: 30px;
          padding: 10px 0;
        }
      }
    }
  }
}