@import "../_include-media.scss";
@import "../_colors.scss";
@import "section01.scss";
@import "section02.scss";
@import "section03.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,300,300italic");

$breakpoints: (phone: 320px, tablet: 768px, desktop: 1280px, short: 550px);

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.appear {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

html {
  height: 100%;
  margin-bottom: 0;
  body {
    height: 100%;
    background-color: $background-color;
    color: $text-color-white;
    font-family: 'Open Sans', serif;
    font-weight: normal;
    font-size: 16px;

    noscript {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100vh;
      div {
        color: #989898;
        font-weight: 100;
        text-align: center;
        .logo {
          //width: 247px;
          height: 200px;
          //margin: 0 auto 13px auto;
          background: url('../../images/blackdata-logo.png') center center no-repeat;
        }
      }
    }

    a {
      color: $text-color-white;
      cursor: pointer;
      span{
        cursor: pointer;
        vertical-align: sub;
      }
      &:hover, &:active, &:visited  {
        color: $button-text-hover-color;
        text-decoration: none;
      }
    }
    
    .pointer {
      cursor: pointer;
    }

    #main {
      display: flex;
      flex-direction: column;
    }

    .container-collapse{
      .row{
        margin-right: 0;
        margin-left: 0;
      }
    }

    header {
      .nav>li>a:focus {
        background-color: transparent;
        color: $text-color-white;
      }

      .nav>li>a:hover {
        color: $button-text-hover-color;
        background-color: transparent;
        text-decoration: none;
      }

      .navbar {
        padding-top: 45px;
        @include media("<=phone") {
          padding-top: 25px;
        }
        z-index: 5;
        .container-collapse {
          //display: flex;
          .navbar-header {
            .logo {
              cursor: pointer;
              width: 140px;
              background: url('../../images/blackdata-logo.png') center center no-repeat;
              transition: transform .2s ease-in-out;
              background-size: contain;
              margin-top: 8px;
              /* Inclusive and exclusive operators for a finer control over the intervals */
              @include media("<=phone") {
                margin-left: 15px !important;
                width: 60%;
              }
              @include media(">phone", "<=tablet") {
                margin-left: 30px !important;
                //width: 60%;
              }
              @include media(">tablet", "<=desktop") {
                margin-left: 120px !important;
                //margin-right: 30px;
              }
              @include media(">desktop") {
                margin-left: 120px !important;
                //margin-right: 30px;
              }
            }

            .icon-bar {
              background-color: white;
            }
          }
        }
        .navbar-collapse {
          .navbar-right {
            margin-right: 80px;
            @include media(">phone", "<=tablet") {
              margin-right: 60px !important;
            }
            .lang-short {
              text-transform: uppercase;
              margin-right: 5px;
            }
            .dropdown>a {
              background-color: transparent;
              color: $text-color-white;
              //font-size: 14px;
            }
            .dropdown-menu {
              background-color: $background-color-grey;
              border: $text-color-white;
              text-transform: uppercase;
              min-width:0;
              li>a{
                font-weight: bold;
                font-size: 14px;
                text-align: left;
                padding: 3px 38px 0 20px;
                color: $text-color-white;
                &:hover {
                  background-color: $background-color;
                }
              }
              .active>a {
                background-color: $background-color;
                &:hover {
                  background-color: $background-color;
                }
              }
              .bcaret:hover {
                color: $text-color-white;
                opacity:1;
              }
            }

            .bcaret {
              position: relative;
              display: inline-block;
              margin-right: 15px;
              vertical-align: super;
              &.flip {
                transform: rotateX(180deg);
                top: 3px;
              }
            }

            .bcaret:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              border-top: 5px solid $background-color-white;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
            }

            .bcaret:after {
              content: '';
              position: absolute;
              left: 1px;
              top: 0;
              border-top: 4px solid $background-color;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
            }
          }
        }
      }
    }

    footer {
      .land-footer {
        position: relative;
        bottom: 0;
        width: 100%;
        font-size: 14px;
        height: 104px;
        background-color: $background-color-grey-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        .footer-container {
          margin: 0 40px;
          @include media("<tablet") {
            margin: 0 auto;
          }
          .footer-items {
            font-weight: lighter;
            font-size: 14px;
            @include media(">=1200px", "<=1600px") {
              font-size: 11px;
            }
            .footer-item {
              line-height: 30px;
              text-align: center;
              @include media("<=phone") {
                font-size: 12px;
              }
              .icons {
                width: 20px;
              }
              .footer-item-mail {
                background: url("../../images/envelope-icon.png") top center no-repeat;
              }
              .footer-item-phone {
                background: url("../../images/phone-icon.png") top center no-repeat;
              }
              .footer-item-house {
                background: url("../../images/house-icon.png") top center no-repeat;
              }
            }
            a {
              color: $text-color-white;
              cursor: pointer;
              text-decoration: none;
              span{
                cursor: pointer;
                text-decoration: none;
              }
            }
          }
        }
        @include media("<tablet") {
          text-align: center;
        }
      }
    }

    .icons {
      //background: url("../../images/platform-icons.png") no-repeat;
      width: 98px;
      height: 22px;
      display: inline-block;
      vertical-align: bottom;
      margin-left: 15px;
    }

    .vertically-center {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .form-group {
      text-align: left;
    }
  }
}

.fullscreen-bg-blur {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  z-index: -99;
  opacity: 0.8;
  background-color: $background-color;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    //background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.visible-in-mobile {
  @include media("<=desktop") {
    display: none;
  }
}