@import "../_include-media.scss";
@import "../_colors.scss";

@keyframes stretch {
  0%    { opacity: 0; }
  5%    { opacity: 0; }
  100%  { opacity: 1; }
}

#landingSection2 {
  .areas {
    .areas-item {
      font-size: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 50px;
      color: $text-color-white;
      margin-bottom: 0;
      margin-top: 0;
      @include media(">phone") {
        height: 95px;
      }
      background-color: $background-color-grey-dark;
      cursor: pointer;
      .bcaret {
        position: absolute;
        right: 40px;
        top: 50%;
        &.flip {
          transform: rotateX(180deg);
        }
      }

      .bcaret:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-top: 5px solid $background-color-white;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
      .bcaret:after {
        content: '';
        position: absolute;
        left: 1px;
        top: 0;
        border-top: 4px solid $background-color-grey-dark;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }

      &:hover {
        background-color: $background-color-grey-light;
        .bcaret:after {
          border-top: 4px solid $background-color-grey-light;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
        }
      }
      &:active {
        background-color: $background-color-grey;
        .bcaret:after {
          border-top: 4px solid $background-color-grey;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
        }
      }
    }

    .panel-group {
      margin-bottom: 0;
      .panel {
        border: 0;
        border-radius: 0;
        margin-top: 0;
        .panel-heading {
          padding: 0;
          border: 0;
        }
      }
    }

    .item-selected {
      background-color: $background-color-grey;
    }
  }
  .areas-carousel {
    background-color: $background-color-white;
    .areas-carousel-container {
      justify-content: center;
      align-items: center;
      .areas-carousel-container-slick {
        height: 300px;
        @include media("<=phone") {
          padding-top: 15px;
          margin-bottom: 10px;
        }
        .slick-dots {
          animation-name: stretch;
          animation-duration: 1.5s;
          animation-timing-function: ease-out;
        }
        .areas-carousel-slick-content {
          height: 240px;
          display: table;

          animation-name: stretch;
          animation-duration: 1.5s;
          animation-timing-function: ease-out;

          @include media("<=phone") {
            height: 120px;
          }

          .areas-carousel-slick-content-child {
            display: table-cell;
            vertical-align: middle;
            color: $text-color-grey;
            text-align: center;
            .areas-carousel-slick-content-child-title {
              font-weight: normal;
              font-size: 26px;
              @include media("<=phone") {
                font-size: 6vw;
              }
            }
            .areas-carousel-slick-content-child-text {
              font-weight: lighter;
              font-size: 20px;
              line-height: 32px;
              @include media("<=phone") {
                font-size: 4vw;
                line-height: inherit;
              }
            }
          }
        }
        .slick-buttons {
          font-size: 0;
          line-height: 0;

          display: block;

          width: 64px;
          height: 64px;
          padding: 0;

          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          cursor: pointer;
          color: transparent;
          border: none;
          outline: none;

          &.slick-prev-button {
            left: -20%;
            background: url('../../images/flecha-horiz.png') center center no-repeat;
            &:hover {
              background: url('../../images/flecha-horiz-hover.png') center center no-repeat;
            }
          }
          &.slick-next-button {
            right: -20%;
            background: url('../../images/flecha-horiz-2.png') center center no-repeat;
            &:hover {
              background: url('../../images/flecha-horiz-2-hover.png') center center no-repeat;
            }
          }
        }
      }
    }
  }

  .areas-technologies {
    background-color: $background-color-grey-light;
    .areas-technologies-items {
      .areas-technologies-item {
        height: 165px;
        @include media("<=phone") {
          width: 100%;
          height: 80px;
        }
      }
      .first {
        background: url('../../images/amazon-logo.png') center center no-repeat;
        @include media("<tablet") {
          background-size: contain;
        }
      }
      .second {
        background: url('../../images/google-cloud-logo.png') center center no-repeat;
        @include media("<=1300px") {
          background-position: left center;
        }
        @include media(">phone", "<desktop") {
          background-size: contain;
          width: 80%;
        }
        @include media("<=phone") {
          background-size: contain;
        }
      }
      .third {
        background: url('../../images/micrisift-azure-logo.png') center center no-repeat;
        @include media(">tablet", "<=1300px") {
          background-position: left center;
        }
        @include media("<desktop") {
          background-position: center center;
          background-size: contain;
        }
      }
    }
    .item-selected {
      background-color: $background-color-grey;
    }
  }
}