@import "../_include-media.scss";
#landingSection1 {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -100px;
    min-height: 100vh;
    .section-title {
      text-align: center;
      font-weight: 100;
      margin-bottom: 10px;
      margin-top: 35px;
      .header{
        font-size: 45px;
        margin: 0 0 10px;
        /* Inclusive and exclusive operators for a finer control over the intervals */
        @include media("<=phone") {
          font-size: 6vw;
        }
        @include media(">phone", "<=tablet") {
          font-size: 4vw;
        }
        @include media(">=desktop") {
          font-size: 45px;
        }
      }
      .sub-header{
        font-size: 25px;
        font-weight: 300;
        font-style: italic;
        /* Inclusive and exclusive operators for a finer control over the intervals */
        @include media("<=phone") {
          font-size: 5vw;
        }
        @include media(">phone", "<=tablet") {
          font-size: 3vw;
        }
        @include media(">=desktop") {
          font-size: 25px;
        }
      }
    }

    .arrow-next {
      background: url('../../images/flecha-vertical.png') bottom center no-repeat;
      margin: 0 auto 30px auto;
      @include media("<=phone") {
        width: 0;
        height: 0;
      }
      &:hover {
        background: url('../../images/flecha-vertical-hover.png') bottom center no-repeat;
      }
      @include media(">desktop") {
        width: 60px;
        height: 80px;
      }
    }
}