@import "../_include-media.scss";
@import "../_colors.scss";

#landingSection3 {
  background-color: $background-color-grey-contact;
  padding-top: 20px;
  height: auto;
  text-align: center;
  padding-bottom: 70px;
  @include media(">=desktop") {
    min-height: 90vh;
  }
  .contact-info {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    margin-top: 80px;
    @include media("<=phone") {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    height: 195px;

    .contact-info-title {
      margin-bottom: 30px;
      h5 {
        font-size: 26px;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: inherit;
      }
    }
    .contact-info-subtitle {
      font-weight: lighter;
      font-size: 18px;
      line-height: 32px;
    }
  }
  .contact-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    .contact-form {
      padding-left: 0;
      .form-actions {
        .contact-button {
          cursor: pointer;
          margin-top: 0;
          padding: 5px 25px;
          font-weight: normal;
          font-size: 18px;
          text-transform: uppercase;
          color: $button-text-color;
          background-color: transparent;
          border-radius: 5px;
          border: 2px solid $button-border-color;
          &:hover {
            color: $button-text-hover-color;
          }
          &:disabled {
            cursor: default;
            color: $button-text-color;
            opacity: 0.5;
          }
        }
      }
      .form-sent {
        margin-top: 20px;
        font-size: 20px;
      }
    }
  }
}