<link rel="stylesheet" href="./public/build/bower_components/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" href="./public/build/bower_components/slick-carousel/slick/slick-theme.css"/>

<div class="row areas-carousel-container">
    <div class="col-md-6 col-md-offset-3 hidden-xs hidden-sm areas-carousel-container-slick">
        <slick ng-if="slickContentReady"
               infinite="true"
               dots="true"
               autoplay="true"
               prev-arrow=".slick-prev-button"
               next-arrow=".slick-next-button"
               adaptive-height="true"
               slides-to-show="1"
               slides-to-scroll="1"
               pause-on-hover="false"
               autoplay-speed="5000">
            <div ng-repeat="sd in areaContents[areaSelected]" class="areas-carousel-slick-content">
                <div class="areas-carousel-slick-content-child">
                    <h4 class="areas-carousel-slick-content-child-title">{{ sd.title }}</h4>
                    <p class="areas-carousel-slick-content-child-text">{{ sd.text }}</p>
                </div>
            </div>
        </slick>
        <button class="slick-buttons slick-prev-button"></button>
        <button class="slick-buttons slick-next-button"></button>
    </div>

    <div class="col-xs-12 visible-xs visible-sm areas-carousel-container-slick">
        <slick ng-if="slickContentReady"
               infinite="true"
               dots="true"
               autoplay="true"
               adaptive-height="true"
               slides-to-show="1"
               slides-to-scroll="1"
               pause-on-hover="false"
               autoplay-speed="5000">
            <div ng-repeat="sd in areaContents[areaSelected]" class="areas-carousel-slick-content">
                <div class="areas-carousel-slick-content-child">
                    <h4 class="areas-carousel-slick-content-child-title">{{ sd.title }}</h4>
                    <p class="areas-carousel-slick-content-child-text">{{ sd.text }}</p>
                </div>
            </div>
        </slick>
    </div>
</div>