<div id="landingSection1" class="container-fluid">
    <div></div>
    <div class="section-title">
        <h1 class="header" translate="LANDING.SECTION01.TITLE_PART01"></h1>
        <h2 class="sub-header" translate="LANDING.SECTION01.TITLE_PART02"></h2>
    </div>
    <div class="arrow-next pointer" ng-click="goToElement('section02');"></div>
</div>