<div id="landingSection2">

    <!--DESKTOP SECTION-->
    <div id="landingSection2Areas" class="row areas hidden-xs hidden-sm">
        <h3 class="col-md-4 areas-item areas-item01" translate="LANDING.SECTION02.AREAS.DEVELOPMENT" ng-click="sessionReady && showArea('01');"></h3>
        <h3 class="col-md-4 areas-item areas-item02" translate="LANDING.SECTION02.AREAS.CONSULTING" ng-click="sessionReady && showArea('02');"></h3>
        <h3 class="col-md-4 areas-item areas-item03" translate="LANDING.SECTION02.AREAS.SYSTEMS" ng-click="sessionReady && showArea('03');"></h3>
    </div>

    <div ng-if="sessionReady" ui-view="areas-carousel" class="areas-carousel hidden-xs hidden-sm"></div>

    <!--MOBILE SECTION-->
    <div class="row areas visible-xs visible-sm">
        <uib-accordion close-others="true">
            <uib-accordion-group is-open="area01Open">
                <uib-accordion-heading>
                    <span class="col-xs-12 areas-item areas-item01" ng-click="sessionReady && showArea('01');">
                        <span translate="LANDING.SECTION02.AREAS.DEVELOPMENT"></span> <b class="bcaret" ng-class=" area01Open? 'flip':''"></b>
                    </span>
                </uib-accordion-heading>
                <div ng-if="sessionReady" ui-view="areas-carousel" class="areas-carousel"></div>
            </uib-accordion-group>

            <uib-accordion-group is-open="area02Open">
                <uib-accordion-heading>
                    <span class="col-xs-12 areas-item areas-item02" ng-click="sessionReady && showArea('02');">
                        <span translate="LANDING.SECTION02.AREAS.CONSULTING"></span> <b class="bcaret" ng-class=" area02Open? 'flip':''"></b>
                    </span>
                </uib-accordion-heading>
                <div ng-if="sessionReady" ui-view="areas-carousel" class="areas-carousel"></div>
            </uib-accordion-group>

            <uib-accordion-group is-open="area03Open">
                <uib-accordion-heading>
                    <span class="col-xs-12 areas-item areas-item03" ng-click="sessionReady && showArea('03');">
                        <span translate="LANDING.SECTION02.AREAS.SYSTEMS"></span> <b class="bcaret" ng-class=" area03Open? 'flip':''"></b>
                    </span>
                </uib-accordion-heading>
                <div ng-if="sessionReady" ui-view="areas-carousel" class="areas-carousel"></div>
            </uib-accordion-group>
        </uib-accordion>
    </div>

    <!--AREAS TECHNOLOGIES-->
    <div class="row areas-technologies">
        <div class="col-xs-6 col-lg-4 areas-technologies-items">
            <div class="areas-technologies-item first"></div>
        </div>
        <div class="col-xs-6 col-lg-4 areas-technologies-items">
            <div class="areas-technologies-item second"></div>
        </div>
        <div class="col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-0 areas-technologies-items">
            <div class="areas-technologies-item third"></div>
        </div>
    </div>
</div>
