<div id="landingSection3" class="container-fluid">
    <div class="row contact-info">
        <div class="contact-info-title">
            <h5 translate="LANDING.SECTION03.CONTACT_INFO.TITLE"></h5>
        </div>
        <div class="contact-info-subtitle">
            <span translate="LANDING.SECTION03.CONTACT_INFO.SUBTITLE"></span>
        </div>
    </div>

    <div class="row contact-section">

        <div ng-if="captchaRequired" ui-view="captcha"></div>

        <div id="collapsedForm" ng-if="!captchaRequired" class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="contact-form">
                <form ng-if="!captchaRequired" name="contactForm.form" role="form" class="form-horizontal" ng-submit="sessionReady && contactForm.form.$valid && onSendContactInformation();">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-6" ng-class="{ 'has-error': contactForm.form.name.$dirty && formTried && contactForm.form.name.$invalid }">
                            <input type="text"
                                   name="name"
                                   id="name"
                                   placeholder="{{ 'LANDING.SECTION03.FORM.NAME' | translate }}*"
                                   class="form-control contact-input-group"
                                   ng-class="{ 'has-error': contactForm.form.name.$dirty && formTried && contactForm.form.name.$invalid }"
                                   ng-maxlength="64"
                                   ng-minlength="1"
                                   ng-pattern="/^[a-zA-ZÀ-ÿ0-9\s]+$/"
                                   ng-model="contactInfo.name"
                                   ng-keydown="contactForm.form.name.$setValidity('invalidName', true); formTried = false;"
                                   ng-required="true"/>

                            <div class="help-block" ng-messages="contactForm.form.name.$dirty &&  contactForm.form.name.$error">
                                <p ng-message="minlength, maxlength"><span translate="VALIDATION.LENGTH_BETWEEN" translate-value-field1="{{ 'LANDING.SECTION03.FORM.NAME' | translate }}" translate-value-field2="1" translate-value-field3="64"></span></p>
                                <p ng-message="invalidName, pattern"><span translate="VALIDATION.NOT_VALID" translate-value-field1="{{ 'LANDING.SECTION03.FORM.NAME' | translate }}"></span></p>
                                <p ng-message="required"><span translate="VALIDATION.IS_REQUIRED" translate-value-field1="{{ 'LANDING.SECTION03.FORM.NAME' | translate }}"></span></p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6" ng-class="{ 'has-error': contactForm.form.email.$dirty && formTried && contactForm.form.email.$invalid }">
                            <input type="text"
                                   name="email"
                                   id="email"
                                   placeholder="{{ 'LANDING.SECTION03.FORM.EMAIL' | translate }}*"
                                   class="form-control contact-input-group"
                                   ng-class="{ 'has-error': contactForm.form.email.$dirty && formTried && contactForm.form.email.$invalid }"
                                   ng-maxlength="256"
                                   ng-minlength="5"
                                   ng-pattern="/^[a-zA-Z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([a-zA-Z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([a-zA-Z]{2,})$/"
                                   ng-model="contactInfo.email"
                                   ng-keydown="contactForm.form.email.$setValidity('invalidEmail', true);"
                                   ng-required="true"/>

                            <div class="help-block" ng-messages="contactForm.form.email.$dirty && contactForm.form.email.$error">
                                <p ng-message="minlength, maxlength"><span translate="VALIDATION.LENGTH_BETWEEN" translate-value-field1="{{ 'LANDING.SECTION03.FORM.EMAIL' | translate }}" translate-value-field2="5" translate-value-field3="256"></span></p>
                                <p ng-message="invalidEmail, pattern"><span translate="VALIDATION.NOT_VALID" translate-value-field1="{{ 'LANDING.SECTION03.FORM.EMAIL' | translate }}"></span></p>
                                <p ng-message="required"><span translate="VALIDATION.IS_REQUIRED" translate-value-field1="{{ 'LANDING.SECTION03.FORM.EMAIL' | translate }}"></span></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-md-6" ng-class="{ 'has-error': contactForm.form.company.$dirty && formTried && contactForm.form.company.$invalid }">
                            <input type="text"
                                   placeholder="{{ 'LANDING.SECTION03.FORM.COMPANY' | translate }}*"
                                   name="company"
                                   id="company"
                                   class="form-control contact-input-group"
                                   ng-class="{ 'has-error': contactForm.form.company.$dirty && formTried && contactForm.form.company.$invalid }"
                                   ng-minlength="1"
                                   ng-maxlength="256"
                                   ng-pattern="/^[a-zA-ZÀ-ÿ0-9\s.]+$/"
                                   ng-model="contactInfo.company"
                                   ng-keydown="contactForm.form.company.$setValidity('invalidCompany', true);"
                                   ng-required="true"/>

                            <div class="help-block" ng-messages="contactForm.form.company.$dirty && contactForm.form.company.$error">
                                <p ng-message="minlength, maxlength"><span translate="VALIDATION.LENGTH_BETWEEN" translate-value-field1="{{ 'LANDING.SECTION03.FORM.COMPANY' | translate }}" translate-value-field2="1" translate-value-field3="256"></span></p>
                                <p ng-message="invalidCompany, pattern"><span translate="VALIDATION.NOT_VALID" translate-value-field1="{{ 'LANDING.SECTION03.FORM.COMPANY' | translate }}"></span></p>
                                <p ng-message="required"><span translate="VALIDATION.IS_REQUIRED" translate-value-field1="{{ 'LANDING.SECTION03.FORM.COMPANY' | translate }}"></span></p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6" ng-class="{ 'has-error': contactForm.form.position.$dirty && formTried && contactForm.form.position.$invalid }">
                            <input type="text"
                                   placeholder="{{ 'LANDING.SECTION03.FORM.POSITION' | translate }}"
                                   name="position"
                                   id="position"
                                   class="form-control contact-input-group"
                                   ng-class="{ 'has-error': contactForm.form.position.$dirty && formTried && contactForm.form.position.$invalid }"
                                   ng-minlength="1"
                                   ng-maxlength="256"
                                   ng-pattern="/^[a-zA-ZÀ-ÿ0-9\s]+$/"
                                   ng-model="contactInfo.position"
                                   ng-keydown="contactForm.form.position.$setValidity('invalidPosition', true);"/>

                            <div class="help-block" ng-messages="contactForm.form.position.$dirty && contactForm.form.position.$error">
                                <p ng-message="minlength, maxlength"><span translate="VALIDATION.LENGTH_BETWEEN" translate-value-field1="{{ 'LANDING.SECTION03.FORM.POSITION' | translate }}" translate-value-field2="1" translate-value-field3="256"></span></p>
                                <p ng-message="invalidPosition, pattern"><span translate="VALIDATION.NOT_VALID" translate-value-field1="{{ 'LANDING.SECTION03.FORM.POSITION' | translate }}"></span></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12" ng-class="{ 'has-error': contactForm.form.message.$dirty && formTried && contactForm.form.message.$invalid }">
                            <textarea id="message"
                                      name="message"
                                      placeholder="{{ 'LANDING.SECTION03.FORM.MESSAGE' | translate }}*"
                                      class="form-control contact-input-group"
                                      ng-class="{ 'has-error': contactForm.form.message.$dirty && formTried && contactForm.form.message.$invalid }"
                                      ng-model="contactInfo.message"
                                      maxlength="2048"
                                      rows="6"
                                      ng-keydown="contactForm.form.message.$setValidity('invalidMessage', true);"
                                      ng-required="true"></textarea>

                            <div class="help-block" ng-messages="contactForm.form.message.$dirty && contactForm.form.message.$error">
                                <p ng-message="maxlength"><span translate="VALIDATION.LENGTH_MAX" translate-value-field1="{{ 'LANDING.SECTION03.FORM.MESSAGE' | translate }}" translate-value-field2="2048"></span></p>
                                <p ng-message="invalidMessage, pattern"><span translate="VALIDATION.NOT_VALID" translate-value-field1="{{ 'LANDING.SECTION03.FORM.MESSAGE' | translate }}"></span></p>
                                <p ng-message="required"><span translate="VALIDATION.IS_REQUIRED" translate-value-field1="{{ 'LANDING.SECTION03.FORM.MESSAGE' | translate }}"></span></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit"
                                class="contact-button"
                                translate="LANDING.SECTION03.FORM.SEND"
                                title="{{ 'LANDING.SECTION03.FORM.SEND' | translate }}"
                                ng-disabled="!sessionReady || contactForm.form.$invalid">
                            <span ng-if="sendingContact" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
                        </button>
                    </div>
                </form>
                <div ng-if="contactFormSent" class="form-sent">
                    <span translate="LANDING.SECTION03.CONTACT_DONE"></span>
                </div>
            </div>
        </div>
    </div>
</div>