$background-color: #000000;
$text-color-white: #E7E7E7;
$text-color-grey: #2F2F2F;
$button-border-color: #B0B0B0;
$button-text-color: #989898;
$button-text-hover-color: #CFCFCF;
$background-color-grey-dark: #222222;
$background-color-grey: #3A3A3A;
$background-color-grey-light: #505050;
$background-color-white: #FFFFFF;
$background-color-grey-contact: #1A1A1A;