@import "_include-media.scss";
@import "_colors.scss";

.captcha-container {
  text-align: center;

  .captcha-info {
    @include media("<tablet") {
      text-align: left;
    }
  }

  .bulk {
    height: 50px;
    width: 100%;
    display: inline-block;
  }
  .form-inputs{
    width: 50%;
    @include media("<tablet") {
      width: 100%;
    }
    margin: 0 auto;
    input {
      padding: 25px;
      font-size: 20px;
      text-align: left;
      //margin: 25px;
      border-radius: 1px;
    }
  }

  .captcha-input-group {
    input {
      color: $text-color-white;
      text-transform: none;
      padding: 5px 20px;
      margin: 50px auto;
      text-align: center;
      border: 2px solid $button-border-color;
      background-color: transparent;
      .form-control {
        background-color: transparent;
      }
      &.form-control {
        height: 39px;
      }
    }
  }

  button {
    cursor: pointer;
    margin-top: 0;
    padding: 5px 25px;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: $button-text-color;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid $button-border-color;
    &:hover {
      background-color: transparent;
      color: $button-text-hover-color;
    }
    &:disabled {
      cursor: default;
      opacity: 1;
    }
  }
}