<div class="land-footer">
    <div class="col-xs-12 footer-container" translate-cloak>
        <div class="footer-items">
            <div class="row footer-item">
                <div class="col-xs-12 col-lg-3">
                    <label translate="LANDING.FOOTER.COPYRIGHT"></label>
                </div>

                <div class="col-xs-4 col-lg-3">
                    <a rel="nofollow" href="mailto:contact@blackdata.systems?Subject=Contact%20from%20BlackData" title="{{ 'LANDING.FOOTER.SEND_A_MAIL' | translate }}">
                        <span class="icons footer-item-mail"></span>
                        <span class="visible-in-mobile">info@blackdata.systems</span>
                    </a>
                </div>

                <div class="col-xs-4 col-lg-3">
                    <a rel="nofollow" href="tel:936818078" title="{{ 'LANDING.FOOTER.CALL' | translate }}">
                        <span class="icons footer-item-phone"></span>
                        <span class="visible-in-mobile">936 81 80 78</span>
                    </a>
                </div>

                <div class="col-xs-4 col-lg-3">
                    <a rel="nofollow" href="https://maps.google.com/?q=478, Consell de Cent, Barcelona" target="_blank">
                        <span class="icons footer-item-house"></span>
                        <span class="visible-in-mobile">C/ Consell de Cent 478, Barcelona</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>