<div class="captcha-container" ng-cloak translate-cloak>

    <div class="bulk"></div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-1">
            <img ng-if="captchaImage" ng-src="{{captchaImage}}" alt="Captcha image"/>
        </div>
    </div>

    <ng-form name="captchaForm" role="form" ng-submit="captchaForm.$valid && onSendCaptchaSolution();">
        <div class="input-group add-on captcha-input-group col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1 col-lg-2 col-lg-offset-5" ng-class="{ 'has-error': captchaForm.solution.$dirty && sendTried && captchaForm.solution.$invalid }">
            <input type="text"
                   id="solution"
                   name="solution"
                   placeholder="{{ 'CAPTCHA.TITLE' | translate }}"
                   class="form-control"
                   ng-class="{ 'has-error': captchaForm.solution.$dirty && sendTried && captchaForm.solution.$invalid }"
                   ng-maxlength="16"
                   ng-pattern="/^[a-zA-Z]+$/"
                   ng-model="solution"
                   ng-keydown="captchaForm.solution.$setValidity('invalidSolution', true); sendTried = false;"
                   auto-focus/>

            <div class="input-group-btn">
                <button type="button"
                        ng-click="onDemandCaptcha();"
                        class="btn btn-default newsletter-input-group-btn"
                        title="{{ 'CAPTCHA.REFRESH_IMAGE' | translate }}">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="help-block" ng-messages="captchaForm.solution.$dirty && captchaForm.solution.$error">
                <p ng-message="maxlength"><span translate="VALIDATION.LENGTH_MAX" translate-value-field1="{{ 'CAPTCHA.TITLE' | translate }}" translate-value-field2="16"></span></p>
                <!--<p ng-message="required"><span translate="VALIDATION.IS_REQUIRED" translate-value-field1="{{ 'CAPTCHA.TITLE' | translate }}"></span></p>-->
                <p ng-message="invalidSolution, pattern"><span translate="VALIDATION.NOT_VALID" translate-value-field1="{{ 'CAPTCHA.TITLE' | translate }}"></span></p>
            </div>
        </div>

        <div class="form-actions">
            <button id="captchaSubmit" ng-disabled="captchaForm.$invalid || captchaLoading" class="contact-button" ng-click="onSendCaptchaSolution();">
                <span translate="CAPTCHA.SEND_SOLUTION"></span>
                <!--<span ng-if="!captchaLoading" class="glyphicon glyphicon-menu-right"></span>-->
                <!--<span ng-if="captchaLoading" class="glyphicon glyphicon-refresh glyphicon-spin"></span>-->
            </button>
        </div>
    </ng-form>

    <div class="bulk"></div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 captcha-info">
            <span class="sub-desc" translate="CAPTCHA.INFO"></span><br/>
            <span class="sub-desc" translate="CAPTCHA.PLEASE_FILL"></span>
        </div>
    </div>
</div>