<header ui-view="header"></header>

<div class="fullscreen-bg">
    <!--<video autoplay loop muted poster="./public/build/dist/assets/images/331.png" src="./public/build/dist/assets/images/331.mov"></video>-->
    <video autoplay loop muted src="./public/build/dist/assets/images/331.mov" class="fullscreen-bg__video"></video>
</div>
<div class="fullscreen-bg-blur"></div>

<div class="container-collapse" id="b">
    <div class="row">
        <div id="main">
            <article id="section01" ui-view="section1"></article>
            <article id="section02" ui-view="section2"></article>
            <article id="section03" ui-view="section3"></article>
        </div>
    </div>
</div>

<footer ui-view="footer"></footer>