<nav class="navbar">
    <div class="container-collapse">
        <div class="navbar-header">
            <span class="navbar-brand logo" ng-click="goToElement('section01')"></span>
            <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
            <ul class="nav navbar-nav navbar-right" translate-cloak>
                <li><a ng-click="goToElement('section02')"><span translate="LANDING.HEADER.MENU_ITEM01"></span></a></li>
                <li><a ng-click="goToElement('section03')"><span translate="LANDING.HEADER.MENU_ITEM02"></span></a></li>
                <li uib-dropdown ng-class="{ open : dd1 }" ng-init="dd1 = false" ng-click="dd1 = !dd1">
                    <a href="#" uib-dropdown-toggle><span class="lang-short" translate="COMMON.LANG_SHORT_{{languagePreference.currentLanguage}}"></span> <b class="bcaret" ng-class=" dd1? 'flip':''"></b></a>
                    <ul uib-dropdown-menu>
                        <li ng-if="languagePreference.currentLanguage !== 'en_us'" ng-class="{en_us:'active'}[languagePreference.currentLanguage]" ng-click="languagePreference.switchLanguage('en_us', true)"><a translate="COMMON.LANG_SHORT_en_us"></a></li>
                        <li ng-if="languagePreference.currentLanguage !== 'ca_es'" ng-class="{ca_es:'active'}[languagePreference.currentLanguage]" ng-click="languagePreference.switchLanguage('ca_es', true)"><a translate="COMMON.LANG_SHORT_ca_es"></a></li>
                        <li ng-if="languagePreference.currentLanguage !== 'es_es'" ng-class="{es_es:'active'}[languagePreference.currentLanguage]" ng-click="languagePreference.switchLanguage('es_es', true)"><a translate="COMMON.LANG_SHORT_es_es"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>